<div class="col-md-12">
  <div class="card" [ngClass]="{
      'text-bg-danger': taskinput.priority == 'H',
      'text-bg-success': taskinput.priority == 'L',
      'text-bg-warning': taskinput.priority == 'M'
    }" *ngIf="taskinput.isDelete == false">
    <div class="card-body">
      <h5 class="card-title">{{ taskinput.name }} ({{ taskinput.getStatusText() }})</h5>
    </div>
    <div class="accordion accordion-flush" [id]="'accordionFlushExample' + taskinput.id">
      <div class="accordion-item">
        <h2 class="accordion-header" [id]="'flush-headingOne' + taskinput.id">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            [attr.data-bs-target]="'#flush-collapseOne' + taskinput.id" aria-expanded="false"
            [attr.aria-controls]="'flush-collapseOne' + taskinput.id">
            {{ taskinput.description }}
          </button>
        </h2>
        <div [id]="'flush-collapseOne' + taskinput.id" class="accordion-collapse collapse"
          [attr.aria-labelledby]="'flush-headingOne' + taskinput.id"
          [attr.data-bs-parent]="'#accordionFlushExample' + taskinput.id">
          <ul class="list-group list-group-flush">

            <li class="list-group-item">
              Prioridad: {{ taskinput.getPriorityText() }}
              <span
                *ngIf="(taskinput.priority == 'L' || taskinput.priority == 'M') && taskinput.status != 'C'">&nbsp;</span>
              <i *ngIf="(taskinput.priority == 'L' || taskinput.priority == 'M') && taskinput.status != 'C'"
                class="bi bi-arrow-up-circle-fill" (click)="increasePriority(taskinput)"></i>
              <span
                *ngIf="(taskinput.priority == 'H' || taskinput.priority == 'M') && taskinput.status != 'C'">&nbsp;</span>
              <i *ngIf="(taskinput.priority == 'H' || taskinput.priority == 'M') && taskinput.status != 'C'"
                class="bi bi-arrow-down-circle-fill" (click)="decreasePriority(taskinput)"></i>
            </li>

            <li class="list-group-item">
              Estado: {{ taskinput.getStatusText() }}
              <i *ngIf="taskinput.status == 'P'" class="bi bi-play-fill" (click)="startTask(taskinput)"></i>
              <i *ngIf="taskinput.status == 'IP'" class="bi bi-check-lg" (click)="completeTask(taskinput)"></i>
              <i *ngIf="taskinput.status == 'C'" class="bi bi-arrow-return-right" (click)="resetTask(taskinput)"></i>
            </li>


            <li class="list-group-item">
              Expira: {{ taskinput.fechaExpiracion | date: 'short' }}
              <span *ngIf="taskinput.isExpired()" class="text-danger">(Expirada)</span>
              <span *ngIf="taskinput.isExpiringSoon() && !taskinput.isExpired()" class="text-warning">(Próximo a
                expirar)</span>
            </li>


            <li class="list-group-item">
              <button type="button" class="btn btn-secondary" (click)="editTask(taskinput)">
                <i class="bi bi-pencil-square"></i>
                Editar
              </button>
              <button type="button" class="btn btn-secondary" (click)="deleteTask(taskinput)">
                <i class="bi bi-trash"></i>
                Borrar
              </button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>