<div class="container">
    <div class="row">

        <!-- Tarejeta -->

      <app-taskform
        [taskToEdit]="taskToEdit"
        (saveTask)="saveTask($event)"
        (addTask)="addNewTask($event)"/>

        <div class="col-md-12">
            <ng-container class="ng-container" *ngFor="let tarea of tasklist ">
                <app-resume [task]="tarea" (eventTaskModify)="modifyTask($event)" (editTask)="setTaskToEdit($event)" />
            </ng-container>

        </div>
    </div>

</div>
